#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 62.7%;
}
/*HEADER*/
.header-sect {
  display: flex;
  justify-content: space-around;
}
.nav-sect {
  display: flex;
  align-items: center;
}
.nav-sect p {
  padding-left: 2rem;
}
.nav-sect P:hover {
  color: coral;
  transition: 2s ease;
  border: 1px solid #242424;
  border-radius: 1rem;
}
/*HERO PAGE*/
.page-file {
  background-color: #242424;
  width: 400px;
  height: 400px;
  border-radius: 1rem;
}
.page-file img {
  width: 100%;
  border-radius: 1rem;
}
